/* General */
body {
    background-color: #fff;
    color: #202124;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
    a:hover {
        text-decoration: underline;
    }

/* Header */
.hea-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    font-size: 13px;
    min-height: 60px;
    padding: 3px 22px;
}
    .hea-nav__ul {
        display: flex;
        flex-wrap: nowrap;
    }
        .hea-nav__ul--li {
            margin: 0 8px;
        }
            .text {
                position: relative;
                bottom: 1px;
            }

            .hea-nav__ul--li a {
                color: #202124;
                line-height: 2.5;
            }
            
            .hea-nav__ul--li svg {
                color: #000;
                width: 16px;
                height: 16px;
                opacity: .5;
                padding: 7px 6px;
                text-decoration: none;
            }
                .hea-nav__ul--li svg:hover {
                    opacity: 1;
                    cursor: pointer;
                }

            .hea-nav__ul--li button {
                border: 1px solid #4285f4;
                background-color: #4285f4;
                outline: none;
                color: #fff;
                font-weight: bold;
                padding: 7px 12px;
                border-radius: 2px;
            }
                .hea-nav__ul--li button:hover {
                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
                }

/* Main */
.main {
    margin: auto;
    text-align: center;
    margin-top: 130px;
    padding: 0 10px;
}
    .main__imgBox img {
        max-width: 100%;
    }

    .main__form {
        width: 580px;
        margin: 23px auto 0;
    }
        .main__form__searchBox {
            border: 1px solid #ddd;
            border-radius: 25px;
            margin-bottom: 29px;
            outline: none;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
            height: 42px;
        }
            .main__form__searchBox:hover {
                box-shadow: 1px 1px 7px #cdcdcd;
            }

            .main__form__searchBox--search {
                height: 16px;
                position: relative;
                top: 3px;
                left: 7px;
                opacity: .5;
            }

            .main__form__searchBox input[type="text"] {
                border: none;
                outline: none;
                height: 37px;
                min-width: 85%;
            }
            
            .main__form__searchBox--mic {
                height: 20px;
                position: relative;
                top: 3px;
                right: 7px;
            }
                .main__form__searchBox--mic:hover {
                    cursor: pointer;
                }

        .main__form__buttons {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
            .main__form__buttons--btn {
                margin: 4px;
                border: 1px solid #f8f9fa;
                background-color: #f8f9fa;
                color: #3c4043;
                padding: 9px 14px;
                border-radius: 3px;
                font-size: .9em;
            }
                .main__form__buttons--btn:hover {
                    border: 1px solid #ddd;
                    box-shadow: 0 1px 2px #ddd;
                    cursor: pointer;
                }

/* Footer */
.foot {
    border-top: 1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 5px;
}
    .foot__nav {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 11px 30px;
    }
        .foot__nav ul {
            display: flex;
            flex-wrap: nowrap;
        }
            .foot__nav__ul-1 li {
                margin-right: 25px;
            }
            
            .foot__nav__ul-2 li {
                margin-left: 25px;
            }

                .foot__nav__ul--li a {
                    color: #70757a;
                    font-size: .9em;
                }

/* Media queries */
@media (max-width: 768px) {
    .foot {
        height: 80px;
    }
        .foot__nav {
            flex-direction: column;
        }
            .foot__nav__ul-2 {
                order: -1;
                margin-bottom: 20px;
            }
}
